@using CRUD_Memoria.Utilities
@model IEnumerable<CRUD_Memoria.Models.Profesor>

@{
    ViewBag.Title = "Profesores";
}

<h2>Profesores</h2>

<p>
    @Html.ActionLink("Crear", "Form", new { operacion = Operacion.insertar }, new { Class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Editar", "Form", new { id = item.Id, operacion = Operacion.modificar }, new { Class = "btn btn-secondary text-blue" }) |
                @Html.ActionLink("Ver", "Form", new { id = item.Id, operacion = Operacion.ver }, new { Class = "btn btn-info text-white" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id, operacion = Operacion.eliminar }, new { Class = "btn btn-danger text-blue" })
            </td>
        </tr>
    }

</table>
