@using CRUD_Memoria.Utilities
@model IEnumerable<CRUD_Memoria.Models.Grupo>

@{
    ViewBag.Title = "Grupo";
}

<h2>Grupo</h2>

<p>
    @Html.ActionLink("Crear", "Form", new { operacion = Operacion.insertar }, new { Class = "btn btn-success text-white" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCarrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMateria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProfesor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciclo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anio)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProfesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciclo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.ActionLink("Editar", "Form", new { id = item.Id, operacion = Operacion.modificar }, new { Class = "btn btn-secondary text-white" }) |
                @Html.ActionLink("Ver", "Form", new { id = item.Id, operacion = Operacion.ver }, new { Class = "btn btn-info text-white" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id, operacion = Operacion.eliminar }, new { Class = "btn btn-danger text-white" })
            </td>
        </tr>
    }

</table>
